<div class="container">
<div class= "row">
<div class= "col-md-8 col-md-offset-2">
<%= image_tag @post.image.url(:medium) %>
<h1 class="title">
<%= @post.title %>
</h1>

<p class="date">
Submitted <%= time_ago_in_words(@post.created_at) %>Ago
</p>
</div>
</div>
</div>


 <div class= "container">
 <div class= "row">
 <div class= "col-md-8 col-md-offset-2">
 <p class = "body">
<%= @post.body %>
</p>
</div>
</div>

<div id="comments">
<div class= "row">
 <div class= "col-md-8 col-md-offset-2">
<h2><%=@post.comments.count%> Comments</h2>
<%= render @post.comments%>

<h3> Add a comment </h3>
<%= render "comments/form" %>
</div>
</div>
</div>
</div>

